
snippet sec "Section" 
\section{${1:type_title}}
$0
endsnippet

snippet ssec "Subsection" 
\subsection{${1:type_title}}
$0
endsnippet

snippet enum "Enumerate" 
\begin{enumerate}
\item $0
\item 
\item
\end{enumerate}
endsnippet

##############
# MATH STUFF #
##############
snippet eq "Equation" 
\begin{equation}
	$0
\end{equation}
endsnippet

snippet eqa "EquationArray" 
\begin{equation}
\begin{align}
	$0
\end{align}
\end{equation}
endsnippet

snippet emp "Emphasis" 
\emph{$0}
endsnippet

